
.container{
    margin:auto;
    width: 50%;
    height: 50%;
    display: block;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}
.container #mainImg{
  
  transform: scale(1.5,1.5);
  /* for old version browsers */
 -webkit-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
 /**/
  width: 100%;
  height: 100%; 
      
}
.container #zoomIn{
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
    opacity: .4;
    
}
.container #zoomOut{
    float: right;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top:50px;
    right:5px;
    opacity: .4;
}
.container #zoomOut:hover,.container #zoomIn:hover{
    transform: translate(2px,2px);
    /* for old browsers */
    -moz-transform: translate(2px,2px);
    -o-transform: translate(2px,2px);
    -ms-transform: translate(2px,2px);
    -webkit-transform: translate(2px,2px);
    /**/

  opacity: 1;
}
